<% content_for :css do %>
  <%= stylesheet_link_tag 'gridsystem' %>
<% end %>

<div class="container">
  <h2>gridsystem のページ</h2>
  <div class="row">
    <div class="col-12">
      このページを表示するためにapp/javascript/stylesheets/application.scssではなく、<br/>
      app/assets/stylesheets/gridsystem.scssに別途記述。<br/>
      当ビューページに以下の記述をし、スタイルシートを適用。
    </div>
    <pre><code>
    &lt;% content_for :css do %&gt;
      &lt;%= stylesheet_link_tag 'gridsystem' %&gt;
    &lt;% end %&gt;</code></pre>
  </div>
<!--1-->
  <div class="py-0 mt-3">1.</div>
  <div class="row">
    <div class="col-sm">
      col-sm
    </div>
    <div class="col-sm">
      col-sm
    </div>
    <div class="col-sm">
      col-sm
    </div>
  </div>
<!--2-->
  <div class="py-0 mt-3">2.</div>
  <div class="row">
     <div class="col-sm py-3">
      col-sm py-3
    </div>
    <div class="col-sm py-3">
      col-sm py-3
    </div>
    <div class="col-sm py-3">
      col-sm py-3
    </div>
  </div>
<!--3-->
  <div class="py-0 mt-3">3.</div>
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
<!--4-->
  <div class="py-0 mt-3">4.</div>
  <div class="row">
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
  </div>
<!--5-->
  <div class="py-0 mt-3">5. row justify-content-md-center</div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      col-lg-2
    </div>
    <div class="col col-md-auto">
      col-md-auto
    </div>
    <div class="col col-lg-2">
      col-lg-2
    </div>
  </div>
<!--6-->
  <div class="py-0 mt-3">6.</div>
  <div class="row">
    <div class="col">
      col
    </div>
    <div class="col col-md-auto">
      col-md-auto
    </div>
    <div class="col col-lg-2">
      col-lg-2
    </div>
  </div>
<!--7-->
  <div class="py-0 mt-3">7. row align-items-start</div>
  <div class="row align-items-start align">
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
  </div>
<!--8-->
  <div class="py-0 mt-3">8. row align-items-center</div>
  <div class="row align-items-center align">
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
  </div>
<!--9-->
  <div class="py-0 mt-3">9. row align-items-end</div>
  <div class="row align-items-end align">
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
  </div>
<!--10-->
  <div class="py-0 mt-3">10.</div>
  <div class="row align">
    <div class="col align-self-start">
      col align-self-start
    </div>
    <div class="col align-self-center">
      col align-self-center
    </div>
    <div class="col align-self-end">
      col align-self-end
    </div>
  </div>
<!--11-->
  <div class="py-0 mt-3">11. row justify-content-start</div>
  <div class="row justify-content-start">
    <div class="col-4">
      col-4
    </div>
    <div class="col-4">
      col-4
    </div>
  </div>
<!--12-->
  <div class="py-0 mt-3">12. row justify-content-center</div>
  <div class="row justify-content-center">
    <div class="col-4">
      col-4
    </div>
    <div class="col-4">
      col-4
    </div>
  </div>
<!--13-->
  <div class="py-0 mt-3">13. row justify-content-end</div>
  <div class="row justify-content-end">
    <div class="col-4">
      col-4
    </div>
    <div class="col-4">
      col-4
    </div>
  </div>
<!--14-->
  <div class="py-0 mt-3">14. row justify-content-around</div>
  <div class="row justify-content-around">
    <div class="col-4">
      col-4
    </div>
    <div class="col-4">
      col-4
    </div>
  </div>
<!--15-->
  <div class="py-0 mt-3">15. row justify-content-between</div>
  <div class="row justify-content-between">
    <div class="col-4">
      col-4
    </div>
    <div class="col-4">
      col-4
    </div>
  </div>
<!--16-->
  <div class="py-0 mt-3">16. </div>
  <div class="row">
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
  </div>
  <pre><code>
  &lt;div class="row"&gt;
    &lt;div class="col-6 col-sm-3"&gt;.col-6 .col-sm-3&lt;/div&gt;
    &lt;div class="col-6 col-sm-3"&gt;.col-6 .col-sm-3&lt;/div&gt;
    &lt;div class="w-100"&gt;&lt;/div&gt;  ※次のcolを強制改行する記述。
    &lt;div class="col-6 col-sm-3"&gt;.col-6 .col-sm-3&lt;/div&gt;
    &lt;div class="col-6 col-sm-3"&gt;.col-6 .col-sm-3&lt;/div&gt;
  &lt;/div&gt;</code></pre>
<!--17-->
  <div class="py-0 mt-3">17. </div>
  <div class="row">
    <div class="col">
      col, no order applied
    </div>
    <div class="col order-12">
      col order-12, with a larger order
    </div>
    <div class="col order-1">
      col order-1, Third in DOM
    </div>
  </div>
  <pre><code>
  &lt;div class="row"&gt;
    &lt;div class="col"&gt;
      First in DOM, no order applied
    &lt;/div&gt;
    &lt;div class="col order-12"&gt;
      Second in DOM, with a larger order
    &lt;/div&gt;
    &lt;div class="col order-1"&gt;
      Third in DOM, with an order of 1
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
<!--18-->
  <div class="py-0 mt-3">18. </div>
  <div class="row">
    <div class="col order-last">
      First in DOM, ordered last
    </div>
    <div class="col">
      Second in DOM, unordered
    </div>
    <div class="col order-first">
      Third in DOM, ordered first
    </div>
  </div>
<!--19-->
  <div class="py-0 mt-3">19. </div>
  <div class="row">
    <div class="col col-md-4">.col-md-4</div>
    <div class="col col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
  </div>
  <div class="row">
    <div class="col col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
    <div class="col col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
  </div>
  <div class="row">
    <div class="col col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
  </div>
  右側にoffsetを設定することはできない。
<!--20-->
  <div class="py-0 mt-3">20. </div>
  <div class="row">
    <div class="col col-md-4">.col-md-4</div>
    <div class="col col-md-4 ml-auto">.col-md-4 .ml-auto</div>
  </div>
  <div class="row">
    <div class="col col-md-3 ml-md-auto">.col-md-3 .ml-md-auto</div>
    <div class="col col-md-3 ml-md-auto">.col-md-3 .ml-md-auto</div>
  </div>
  <div class="row">
    <div class="col col-auto mr-auto">.col-auto .mr-auto</div>
    <div class="col col-auto">.col-auto</div>
  </div>
  force sibling columns away from one another.
<!--21-->
  <div class="py-0 mt-3">21. </div>
  <div class="row">
    <div class="l1 col-sm-9">
      Level 1: .col-sm-9
      <div class="row">
        <div class="col col-8 col-sm-6">
          Level 2: .col-8 .col-sm-6
        </div>
        <div class="col col-4 col-sm-6">
          Level 2: .col-4 .col-sm-6
        </div>
      </div>
    </div>
  </div>
<!--22-->
  <div class="py-0 mt-3">22. row justify-content-center mr-5</div>
  <div class="row justify-content-center mr-5">
    <div class="col col-3 d-flex justify-content-center align-items-center align m-3">col-3 </div>
    <div class="col col-3 d-flex justify-content-center align-items-center align m-3">col-3</div>
    <div class="col col-3 d-flex justify-content-center align-items-center align m-3">col-3</div>
  </div>
  <div class="row justify-content-center mr-5">
    <div class="col col-3 d-flex justify-content-center align-items-center align mx-3 my-2">col-3</div>
    <div class="col col-3 d-flex justify-content-center align-items-center align mx-3 my-2">col-3 d-flex justify-content-center align-items-center</div>
    <div class="col col-3 d-flex justify-content-center align-items-center align mx-3 my-2">col-3</div>
  </div>
  <div class="row justify-content-center mr-5">
    <div class="col col-3 d-flex justify-content-center align-items-center align m-3">col-3</div>
    <div class="col col-3 d-flex justify-content-center align-items-center align m-3">col-3</div>
    <div class="col col-3 d-flex justify-content-center align-items-center align m-3">col-3</div>
  </div>
</div>
