<div class="container">
  <h2>Bootstrap のページ</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6 mt-3">
      <h4>Color</h4>
      <p class="text-primary">class="text-primary"</p>
      <p class="text-secondary">class="text-secondary"</p>
      <p class="text-success">class="text-success"</p>
      <p class="text-danger">class="text-danger"</p>
      <p class="text-warning">class="text-warning"</p>
      <p class="text-info">class="text-info"</p>
      <p class="text-light bg-dark">class="text-light bg-dark"</p>
      <p class="text-dark">class="text-dark"</p>
      <p class="text-body">class="text-body"</p>
      <p class="text-muted">class="text-muted"</p>
      <p class="text-white bg-dark">class="text-white bg-dark"</p>
      <p class="text-black-50">class="text-black-50"</p>
      <p class="text-white-50 bg-dark">class="text-white-50 bg-dark"</p>
    </div>
    <div class="col-md-4 col-sm-6 mt-3">
      <h4>Link Color</h4>
      <p><a href="#" class="text-primary">a href="#" class="text-primary"</a></p>
      <p><a href="#" class="text-secondary">a href="#" class="text-secondary"</a></p>
      <p><a href="#" class="text-success">a href="#" class="text-success"</a></p>
      <p><a href="#" class="text-danger">a href="#" class="text-danger"</a></p>
      <p><a href="#" class="text-warning">a href="#" class="text-warning"</a></p>
      <p><a href="#" class="text-info">a href="#" class="text-info"</a></p>
      <p><a href="#" class="text-light bg-dark">a href="#" class="text-light bg-dark"</a></p>
      <p><a href="#" class="text-dark">a href="#" class="text-dark"</a></p>
      <p><a href="#" class="text-muted">a href="#" class="text-muted"</a></p>
      <p><a href="#" class="text-white bg-dark">a href="#" class="text-white bg-dark"</a></p>
    </div>
    <div class="col-md-4 col-sm-6 mt-3">
      <h4>Background Color</h4>
      <div class="p-3 mb-2 bg-primary text-white">class="p-3 mb-2 bg-primary text-white"</div>
      <div class="p-3 mb-2 bg-secondary text-white">class="p-3 mb-2 bg-secondary text-white"</div>
      <div class="p-3 mb-2 bg-success text-white">class="p-3 mb-2 bg-success text-white"</div>
      <div class="p-3 mb-2 bg-danger text-white">class="p-3 mb-2 bg-danger text-white"</div>
      <div class="p-3 mb-2 bg-warning text-dark">class="p-3 mb-2 bg-warning text-dark"</div>
      <div class="p-3 mb-2 bg-info text-white">class="p-3 mb-2 bg-info text-white"</div>
      <div class="p-3 mb-2 bg-light text-dark">class="p-3 mb-2 bg-light text-dark"</div>
      <div class="p-3 mb-2 bg-dark text-white">class="p-3 mb-2 bg-dark text-white"</div>
      <div class="p-3 mb-2 bg-white text-dark">class="p-3 mb-2 bg-white text-dark"</div>
      <div class="p-3 mb-2 bg-transparent text-dark">class="p-3 mb-2 bg-transparent text-dark"</div>
    </div>
    <div class="col-md-6 col-sm-12 mt-3">
      <h4>Button</h4>
      <button type="button" class="btn btn-primary mr-3 mb-2">button</button>type="button" class="btn btn-primary"<br/>
      <button type="button" class="btn btn-secondary mr-3 mb-2">button</button>type="button" class="btn btn-secondary"<br/>
      <button type="button" class="btn btn-success mr-3 mb-2">button</button>type="button" class="btn btn-success"<br/>
      <button type="button" class="btn btn-danger mr-3 mb-2">button</button>type="button" class="btn btn-danger"<br/>
      <button type="button" class="btn btn-warning mr-3 mb-2">button</button>type="button" class="btn btn-warning"<br/>
      <button type="button" class="btn btn-info mr-3 mb-2">button</button>type="button" class="btn btn-info"<br/>
      <button type="button" class="btn btn-light mr-3 mb-2">button</button>type="button" class="btn btn-light"<br/>
      <button type="button" class="btn btn-dark mr-3 mb-2">button</button>type="button" class="btn btn-dark"<br/>
      <button type="button" class="btn btn-link mr-3 mb-2">button</button>type="button" class="btn btn-link"<br/>
    </div>
    <div class="col-md-6 col-sm-12 mt-3">
      <h4>Button Outline</h4>
      <button type="button" class="btn btn-outline-primary mr-3 mb-2">Primary</button>type="button" class="btn btn-outline-primary<br/>
      <button type="button" class="btn btn-outline-secondary mr-3 mb-2">Secondary</button>type="button" class="btn btn-outline-secondary<br/>
      <button type="button" class="btn btn-outline-success mr-3 mb-2">Success</button>type="button" class="btn btn-outline-success<br/>
      <button type="button" class="btn btn-outline-danger mr-3 mb-2">Danger</button>type="button" class="btn btn-outline-danger<br/>
      <button type="button" class="btn btn-outline-warning mr-3 mb-2">Warning</button>type="button" class="btn btn-outline-warning<br/>
      <button type="button" class="btn btn-outline-info mr-3 mb-2">Info</button>type="button" class="btn btn-outline-info<br/>
      <button type="button" class="btn btn-outline-light mr-3 mb-2">Light</button>type="button" class="btn btn-outline-light<br/>
      <button type="button" class="btn btn-outline-dark mr-3 mb-2">Dark</button>type="button" class="btn btn-outline-dark<br/>
    </div>
    <div class="col-md-6 col-sm-12 mt-3">
      <h4>Button Size</h4>
      <button type="button" class="btn btn-secondary btn-sm mr-3 mb-2">button</button>type="button" class="btn btn-secondary btn-sm"<br/>
      <button type="button" class="btn btn-secondary mr-3 mb-2">button</button>type="button" class="btn btn-secondary"<br/>
      <button type="button" class="btn btn-secondary btn-lg mr-3 mb-2">button</button>type="button" class="btn btn-secondary btn-lg<br/>
      <a href="#" class="btn btn-secondary btn-lg active mr-3 mb-2" role="button" aria-pressed="true">Link</a>
      a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"<br/>
      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-secondary btn-block my-3 py-5">Block level button</button>
        </div>
        <div class="col-6 my-3 py-4">
          button type="button" class="btn btn-secondary btn-block my-3 py-5"
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-5">
      <div class="col-12 mb-3">
        <button type="button" class="btn btn-secondary btn-block mr-3">Block level button</button><br/>
        &lt;div class="col-md-6 col-sm-12 mt-3"&gt;<br/>
        &emsp; &lt;div class="col-12"&gt;<br/>
        &emsp; &emsp; type="button" class="btn btn-secondary btn-block mr-3"<br/>
        &emsp; &lt;/div&gt;<br/>
        &lt;/div&gt;
      </div>
      <div class="col-6 mb-3">
        <button type="button" class="btn btn-secondary btn-block mr-3">Block level button</button>
      </div>
      <div class="col-12">
        &lt;div class="col-md-6 col-sm-12 mt-3"&gt;<br/>
        &emsp; &lt;div class="col-6"&gt;<br/>
        &emsp; &emsp; type="button" class="btn btn-secondary btn-block mr-3"<br/>
        &emsp; &lt;/div&gt;<br/>
        &lt;/div&gt;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <button type="button" class="btn btn-secondary btn-block mr-3 mb-2">Block level button</button>
    </div>
    <div class="col-12 mt-2">
      &lt;div class="row"&gt;<br/>
      &emsp; &lt;div class="col-md-12 mt-3"&gt;<br/>
      &emsp; &emsp; type="button" class="btn btn-secondary btn-block mr-3"<br/>
      &emsp; &lt;/div&gt;<br/>
      &lt;/div&gt;<br/>
    </div>
  </div>
</div>
