<% content_for :css do %>
  <%= stylesheet_link_tag 'pages' %>
<% end %>

<div class="container">
  <div class="row m-3">
    <div class="col-12 m-3 box">box1</div>
  </row>
  <div class="row m-3"></div>
    <div class="col-6 box">box2</div>
    <div class="col-6 box">box3</div>
  </div>
</div>