<div class="container">
  <div class="row justify-content-center">
    <div class="sidebar col-3">
      サイドバー
      <ul>
        <li><%= link_to "Bootstrap(color/button)", bootstrap_path %></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="top_contents col-md-9">
      右側の要素
      <h1>Top page</h1>
      このページを表示するために以下のような記述をしています。
      <pre>
        <code>
  &lt;!DOCTYPE html&gt;
  &lt;html&gt;
    &lt;head&gt;
      &lt;title&gt;Stubloom&lt;/title&gt;
      &lt;meta name="viewport" content="width=device-width,initial-scale=1"&gt;
      &lt;%= csrf_meta_tags %&gt;
      &lt;%= csp_meta_tag %&gt;
  
      &lt;%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %&gt;
      &lt;%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %&gt;
    &lt;/head&gt;
  
    &lt;body&gt;
      &lt;header&gt;
        &lt;%= render 'layouts/header' %&gt;
      &lt;/header&gt;
      &lt;main&gt;
        &lt;%= yield %&gt;
      &lt;/main&gt;
      &lt;footer&gt;
        &lt;%= render 'layouts/footer' %&gt;
      &lt;/footer&gt;
    &lt;/body&gt;
  &lt;/html&gt;
        </code>
      </pre>
      <h5>note! 特殊文字</h5>
      【&amp;nbsp;】：半角スペースと同じサイズの空白<br/>
      【&amp;thinsp;】：&amp;nbsp;の空白より小さい空白<br/>
      【&amp;ensp;】：半角スペースより間隔がやや広い空白<br/>
      【&amp;emsp;】：全角スペースとほぼ同じサイズの空白<br/>
      【&amp;lt;】：＜記号<br/>
      【&amp;gt;】：＞記号<br/>
      【&amp;】：＆記号
    </div>
  </div>
</div>
