* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  border: solid lightgrey;
  background-color: beige;
}

.col-sm, .col, .col-4, .col-6 {
  border: solid darkseagreen;
  background-color: honeydew;
}

.align {
  min-height: 6rem;
}

.l1 {
  border: solid darkseagreen;
  background-color: moccasin;
}